.tagBox {
    display: inline-flex;
    align-items: center;
    padding: 0.2em 0.4em;
    background-color: #0f4626;
    border-radius: .5em;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
}

.svg{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
}

[data-theme='dark'] .tagBox {
    background-color: #59d8bd;
}